/* def for variables like text and background colors*/
:root {
    --h-color: rgb(255, 255, 255);
    --h2-color: rgba(255, 255, 255, 0.9);
    --h3-color: rgba(255, 255, 255, 0.75);
    --text-color: rgba(231, 231, 231, 0.75);
}

body {
    background-image: url("imgs/daw.png");
    background-color:black;
    overflow-x: hidden;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text-color);
    line-height: 1.6;

    padding: 0;
    margin: 0;
}




/*
        HEADER
*/

header {
    background: #000000;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9) 40%, rgba(41, 41, 41, 1) 100%);
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.507);

    padding: 0px 0px 25px 0px;
    margin: 0 0 10px 0;
    width: 100vw;
    height: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px 0 40px;
}
nav .logo {
    color: var(--h-color);
    letter-spacing: 0.3rem;
    font-size: 2.2rem;

    position: relative;
    top: -2px;
}
nav ul {
    color: var(--h-color);
    font-size: 1.3rem;
    
    display: flex;
    list-style:upper-roman;

    gap: 4rem;
    margin: 0px;
    padding: 0px;
}
nav ul li a:link {
    color: var(--h-color);
    cursor: pointer;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: color 0.5s, text-decoration-color 0.5s ease;
}
nav ul li a:visited {
    color: var(--h-color);
    cursor: pointer;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: color 0.5s, text-decoration-color 0.5s ease;
}
nav ul li a:hover {
    color:var(--h-color);
    cursor: pointer;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0.9);
}

.chapter-header {
    color: var(--h2-color);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 100;
    
   
    border-bottom: 2px solid rgba(255, 255, 255, 0.966);
    border-radius: 4px;

    margin: 10px auto 30px auto;
    width: 70vw;
}



/*
        ABOUT
*/

.about {
    display: flex;
    gap: 40px;
    padding: 13px;
    margin: 0 20px 0 25px;
}
.about .img-content {
    flex-shrink: 0;
    margin: 0px;
}
.about .img-content img{
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.637);
    height: 450px;
    width: 600px;
}
.about .text-content {
    position: relative;
    flex: 1;

    border-radius: 15px;
    background: #000000;
    background: radial-gradient(circle,rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.35) 100%);

    padding: 20px;
    height: 100%;
}
.about .text-content h4 {
    color: var(--h2-color);
    text-align: left;
    font-size: 2.3rem;
    font-weight: 200;
    text-decoration: underline;
    font-variant:small-caps ;

    position: relative;
    top: -20px;

    margin: 0px auto 0px auto;
}
.about .text-content p{
    color: var(--text-color);
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25pt;
    font-size: 1.2rem;
    font-weight: 600;

    margin: 0px auto 0px auto;
}




/*
    PROJECTS
*/

.projects {
    display: flex;
    gap: 50px;
    padding: 13px;
    margin: 0px 20px 0 25px;
}
.projects .dec-img {
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.39);

    height: 850px;
    width: 45vw;
}
.projects .list {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    gap: 30px;
}
.projects .list .item {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
    border-radius: 15px;

    background: #000000;
    background: radial-gradient(circle,rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.45) 100%);

    display: flex;
    gap: 40px;
    padding: 10px;
    margin: 0px auto 0 auto;

    transition:  transform .3s, box-shadow .3s ease;
}
.projects .list .item:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 26px rgba(0, 0, 0, 0.45);
}
.projects .list .item figure {
    margin: 0px;
    padding: 0px;
}
.projects .list .item figcaption {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: .7rem;
    font-style: italic;
}
.projects .list .item img {
    object-fit:cover;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);

    height: 200px;
    width: 200px;
    margin: 10px 10px 0px 10px;
}
.projects .list .item .info {
    position: relative;
    top: -15px;
    margin: 0px 25px 0px 0px;
    padding: 0px;
}

.projects .list .item .info a:link {
    color: var(--h3-color);
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
}
.projects .list .item .info a:visited {
    color: var(--h3-color);
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
}
.projects .list .item .info a:hover {
    color: var(--h3-color);
    text-decoration: underline 0.1em rgb(255, 255, 255);
    transition: text-decoration-color .5s, color .5s ease;
}
.projects .list .item .info audio {
    width: 32vw;
    padding: auto;
    border-radius: 15px;
}


/* 
        DEMOS
*/

.demos .list {
    display: flex;
    margin: 10px 200px 10px 200px;
    padding: 10px;
    gap: 40px;
}
.demos .list .item {
    text-align: center;
    
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.233);
    border-radius: 15px;

    background: #000000;
    background: radial-gradient(circle,rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0.4) 100%);

    margin: 10px auto 10px auto;
    width: 25vw;

    transition:  transform .3s, box-shadow .3s ease;
}
.demos .list .item:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 26px rgba(0, 0, 0, 0.486);
}
.demos .list .item h2 {
    color: var(--h2-color);
    font-weight: 600;
    margin: 5px 0 0px 0;
}
.demos .list .item p {
    color: var(--text-color);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 0 10px 0;
}
.demos .list .item audio {
    border-radius: 15px;
}



/* 
        CONTACT
*/

.contact {
    color: var(--text-color);

    border-radius: 25px;
    background: #000000;
    background: radial-gradient(circle,rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%);

    position: relative;
    top: -15px;
    margin: 0px auto 0px auto;
    width: 43vw;
}
.contact h2 {
    text-align: center;
    font-size: 2rem;
}
.contact .desc {
    text-align: center;
    font-size: 1.9rem;

    width: 40vw;
    margin: auto;
    padding: 10px;
}

.contact .info {
    display: flex;
    width: 40vw;
    margin: 0px auto 0px auto;
    gap: 0px;
}
.contact .info .item {
    margin: 0px auto 0px auto;
}
.contact .info .item h2 {
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: underline;
}
.contact .info .item p{
    position: relative;
    top: -20px;
}


/* 
        FOOTER
*/
footer {
    color: #b8b8b8ce;
    text-align: right;
    font-size: 10pt;
    margin: 0px 20px 0px 0px;

}